/**{
    text-align: center;
    font-family: '微软雅黑', Times, serif;
}
#whole-page{
    background-color:#33CCCC;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    /*margin: 150px 250px 150px 200px;
}
h1 {
    font-size: 40px;
    padding-top: 50px;
}
#pic-div{
    background-color: #30C0C0;
    width: 80%;
    height: 400px;
    margin: auto auto auto auto;
}*/